@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'DIN-Regular';
	src: url('fonts/dinregular.eot');
	src: url('fonts/dinregular.eot?#iefix') format('embedded-opentype'),
		url('fonts/dinregular.woff') format('woff'),
		url('fonts/dinregular.ttf') format('truetype'),
		url('fonts/dinregular.svg#dinregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIN-Bold';
	src: url('fonts/dinbold.eot');
	src: url('fonts/dinbold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/dinbold.woff') format('woff'),
		 url('fonts/dinbold.ttf') format('truetype'),
		 url('fonts/dinbold.svg#dinbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN-BoldAlternate';
	src: url('fonts/dinboldalternate.eot');
	src: url('fonts/dinboldalternate.eot?#iefix') format('embedded-opentype'),
		 url('fonts/dinboldalternate.woff') format('woff'),
		 url('fonts/dinboldalternate.ttf') format('truetype'),
		 url('fonts/dinboldalternate.svg#dinboldalternate') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue-Bold';
	src: url('fonts/helveticaneue.eot');
	src: url('fonts/helveticaneue.eot?#iefix') format('embedded-opentype'),
		 url('fonts/helveticaneue.woff') format('woff'),
		 url('fonts/helveticaneue.ttf') format('truetype'),
		 url('fonts/helveticaneue.svg#helveticaneue') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaLTStd-Roman';
	src: url('fonts/helveticaltstdroman0.eot');
	src: url('fonts/helveticaltstdroman0.eot?#iefix') format('embedded-opentype'),
		 url('fonts/helveticaltstdroman0.woff') format('woff'),
		 url('fonts/helveticaltstdroman0.ttf') format('truetype'),
		 url('fonts/helveticaltstdroman0.svg#helveticaltstdroman0') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-Light';
	src: url('fonts/helveticaneuelight0.eot');
	src: url('fonts/helveticaneuelight0.eot?#iefix') format('embedded-opentype'),
		 url('fonts/helveticaneuelight0.woff') format('woff'),
		 url('fonts/helveticaneuelight0.ttf') format('truetype'),
		 url('fonts/helveticaneuelight0.svg#helveticaneuelight0') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLTStd-ThIt';
	src: url('fonts/helveticaneueltstdthit.eot');
	src: url('fonts/helveticaneueltstdthit.eot?#iefix') format('embedded-opentype'),
		 url('fonts/helveticaneueltstdthit.woff') format('woff'),
		 url('fonts/helveticaneueltstdthit.ttf') format('truetype'),
		 url('fonts/helveticaneueltstdthit.svg#helveticaneueltstdthit') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{font-family: 'DIN-Regular';background:#f4f4f4;}
.container{
  max-width: none !important;
  width: 1030px;
}
.checkBox, .cross_btn, .radio-btn, .search-wrap span, .plus-sign, .view-feedback
	{ background:url(../images/sprite.png) no-repeat;}

.checkBoxText, .reference-form .control-label, .quals-form .control-label,
.approval-div p, .quals-form p, .upload-form .control-label, .link-btn, 
.dropdown-btn span, .dropdown-btn, .school-title p, .school-information li div,
.detail-list li, .Qua-detail-list li div, .edu-form p, .popup-form-inner p{
	font-family: 'HelveticaLTStd-Roman';
	}
.reference-form .form-control{
	font-family: 'HelveticaNeue-Light'; 
	}
.bold_btn, .reference-form h1, .welcome-temping > h1, .welcome-temping > p,
.steps-wrap li p, .steps-wrap li h5, .file-input-wrapper, .upload-form h1,
.landing-banner h1, .inputfiles a, .main-title h2, .how-work p,
.create-account, .school-title h3, .school-title p span.title,
.map-content-footer a, .detail-list li span, .detail-list li h3,
.profile-btns *, .left-section h1, .right-section h1, .Qua-detail-list li div:last-child,
.Qua-detail h3, .Qua-detail2 h1, .show-btn, .Qua-detail2 h3, .Qua-detail2 h4, .add-btn,
.popup-form-inner h1, .save-cancel-box a{
	font-family: 'DIN-Bold';
	}
/* header */
.nav-wrap{ display:table; width:100%; margin-bottom:0}
.logo{ 
	height:auto;
	padding:0;
	margin:15px 15px 0 0;
	}
	
.Menu{
	float:right; 
	display:block;
	}
.Menulist{
	float:left;
	margin:0;
	padding:0;
	margin-top:22px;
	}
.Menulist li{
	float:left;
	margin:0 20px;
	list-style:none;
	}
.Menulist li a{
	position:relative;
	height:50px;
	display:block;
	text-transform:uppercase;
	font-size:18px;
	color:#686868;
}
.Menulist li a.login{
	padding-left:30px;
	background:url(../images/login-icon.png) no-repeat top left;
	}
.Menulist li a:hover, .Menulist li a.active{ text-decoration:none; color:#f27e17;}
.Menulist li a:after, .Menulist li a.active:after{
	content:'';
	position:absolute;
	left:50%;
	bottom:0;
	width:0%;
	height:3px;
	background:#f27e17;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
	}
.Menulist li a:hover:after, .Menulist li a.active:after{
	width:100%;
	left:0;
	}
.Menulist li a.login:hover, .Menulist li a.login.active{
	background:	url(../images/login-icon.png) no-repeat left -67px;
	}
.sub-nav-wrap{
	height:43px;
	background:#858585;
	}	
.subNav{
	margin:0;
	margin-top:10px;
	padding:0;
}
.subNav li{
	list-style:none;
	float:left;
	margin:0 20px;
	}	
.subNav li a{
	position:relative;
	height:33px;
	display:block;
	font-size:18px;
	color:#FFF;
	text-decoration:none;
	}
.subNav li a:after{
	content:'';
	position:absolute;
	left:50%;
	bottom:0;
	width:0%;
	height:2px;
	background:#FFF;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;	
	}	
.subNav li a:hover:after, .subNav li a.active:after{
	width:100%;
	left:0;
	}
.main-title h2{
	text-transform:uppercase;
	font-size:16px;
	color:#000;
	font-weight:normal;
	padding: 4px 20px 16px;
	}
.how-work, .account-setting{
	height:635px;
	padding:35px;
	border:1px solid #e4e4e4;
	background:#fff;
	margin-bottom:50px;
	}
.account-setting{
	margin-top:30px;}
.how-work p{
	padding:0;
	margin:0;
	}
.landing-bg{
	position:relative;
	height:694px;
	background:url(../images/img.jpg) no-repeat top center;
	}	
.landing-banner h1{
	font-size:60px;
	line-height:58px;
	color:#FFF;
	margin:175px 0 10px
	}	
.landing-banner p{
	font-size:40px;
	color:#FFF;
	line-height:40px;
	}	
.inputfiles *{ 
	float:left;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
.inputfiles{
	width:550px;
	margin:48px 0 0 3px;
	}
.inputfiles input{
	font-family: 'HelveticaNeueLTStd-ThIt';
	font-size:18px;
	width:382px;
	padding:20px 20px;
	height:58px;
	margin-right:21px;
	border:1px solid #cccccc;
	word-spacing:-2px;
	line-height:20px;
	}
.inputfiles input:focus{ outline:none}	
.inputfiles a{
	display:block;
	width:133px;
	height:58px;
	display:block;
	text-align:center;
	line-height:58px;
	color:#FFF;
	font-size:16px;
	background:#4594b0;
	}	
.inputfiles a.btn2{
	margin: 44px 0 0 116px;
	width: 150px;
	background:rgba(34,34,34,.8)
	}
.inputfiles a:hover{ background:#55a6c2; text-decoration:none;}	
.inputfiles a.btn2:hover{ background:rgba(62,61,61,.8)}
.signinWrap{
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	width:100%;
	height:694px;
	background:rgba(0,0,0,.5)
	}
.creat-account{
	margin:150px auto 0;
	width:364px;
	height:510px;
	padding-top:0px;
	background:url(../images/creat-account.jpg) no-repeat;
	background:#FFF;
	}	

.account-title{
	margin-bottom:30px;
	height:62px;
	border-bottom:1px solid #dedde0;
	}	
.account-title h2{
	padding:23px 40px 0;
	color:#f27d16;
	font-size:20px;
	}	
.creat-account input[type=text]{
	margin:0 auto 9px;
	width:282px;
	height:44px;
	display:block;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border:1px solid #cccccc;
	padding:12px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	}	
.keepMe{
	margin:0 auto;
	width:282px;
	}	
.creatbtn{
	margin:19px auto 0;
	display:block;
	width:282px;
	height:56px;
	color:#FFF;
	text-align:center;
	line-height:56px;
	font-size:16px;
	background:#f27d16;
	}	
.creatbtn:hover{
	color:#FFF;
	text-decoration:none;
	background:#fa9944;
	}
.singinbtn{
	color:#666666;
	margin:26px auto 0;
	background:#cccccc;	
	}
.singinbtn:hover{
	color:#666666;
	background:#d7d7d7;
	}
	
.alreadyMember{
	width:282px;
	margin:45px auto 0;
	position:relative;
	font-size:16px;
	color:#666666;
	}
.alreadyMember:before{
	content:'';
	position:absolute;
	left:0;
	top:12px;
	width:100%;
	height:1px;
	background:#cccccc;
	}
.alreadyMember p{
	background: #FFF;
	text-align: center;
	display: inline;
	z-index: 99;
	position: relative;
	padding: 0 15px;
	margin-left: 60px;
	}
.notmember{
	margin: 38px auto 0;
	}	
.notmember p{
	margin-left:70px;
	}
.forgetpswd{
	margin: 16px 0 0;
	text-align:center;
	}	
.forgotP{
	display:inline;
	color:#f27d16;
	font-size:14px;
	}

/* Teacher-Detail */
.main-content{
	margin:30px -15px;
	}
.sidebar{
	width:230px;
	}	
.left-nav-wrap{
	width:100%;
	border:1px solid #e6e6e6;
	margin-bottom:30px
	}
.left-nav{
	margin:0;
	padding:0;
	}
.left-nav li{
	list-style:none;
	float:left;
	border-bottom:1px solid #e6e6e6}
.left-nav li a{
	padding-left:32px;
	display:block;
	width:228px;
	height:62px;
	line-height:62px;
	font-size:16px;
	color:#222222;
	background:#fff;
	}
.left-nav li a:hover, .left-nav li a.active{
	color:#f27d16;
	background:#f5f5f5;
	text-decoration:none;
	}
/* right-content */
.right-content{
	border:1px solid #e6e6e6;
	background:#FFF;
	width:767px;
	margin-bottom:30px;
	}
.right-content-inner{
	padding:29px 40px;
	}	
.check-it { margin-bottom:27px}
.check-it .checkbox{
	margin:0;
	}
.check-box{
	width:18px;
	height:18px;
	}
.check-it label{padding-left:30px; color:#000; font-size:14px;}
.check-it input[type=checkbox]{margin-left:-25px;}
textarea.textarea{
	padding: 16px 22px;
	height:166px;
	background:#f9f9fa;
	resize:none;
	}
.save-cancel-box{
	width:100%;
	min-height:56px;
	padding:30px 40px;
	background:#858585;
	}

.save-cancel-box a{
	margin-left:20px;
	display:block;
	float:right;
	height:56px;
	font-size:16px;
	color:#666666;
	line-height:56px;
	text-align:center;
	padding:0 30px;
	background:#cccccc;
	}
.save-cancel-box a:hover{ background:#d7d7d7; text-decoration:none}	
.save-cancel-box a.app_btn{padding:0; background:none;}
.save-cancel-box a.save-btn{
	background:#f27d16;
	color:#FFF;
	}
.save-cancel-box a.save-btn.run_test{ width:185px;}	
.save-cancel-box a.save-btn:hover, .map-content-footer a:hover,
.create-account:hover{ color:#FFF; background:#fa9944; text-decoration:none;}
.reference-form{
	margin-bottom:35px;
	}
.reference-form h1, .upload-form h1{
	font-size:16px;
	line-height:16px;
	margin:0;
	padding: 0px 0 30px;
	color:#222222;
	}
.quals-form p{
	font-size:14px;
	color:#222222;
	margin-bottom:26px;
	}	
.reference-form .control-label, .quals-form .control-label{
	text-align:left;
	font-size:14px;
	line-height:28px;
	font-weight:normal;
	width: 23%;
	}
.upload-form .control-label{
	text-align:left;
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	}	
.upload-form .form-group	{ margin-bottom:10px;}
.off-sel-x{ padding-left:45px;}
.quals-form .control-label{
	width:32%;
	}	
.reference-form .form-control{
	height:44px; 
	border:1px solid #cccccc;
	color:#222222;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	}
.reference-form .form-control.error{
	border:1px solid #d84549;
	}
.reference-form textarea.form-control{
	height:136px;
	margin:0 12px;
	}
.slash{
	display:block;
	float:left;
	line-height:40px;
	}	
.reference-form .form-group{ margin-bottom:9px;}
.smallInput div:not(.slash){width:19%; }
.smallInput .form-control{text-align:center;}
.checkBoxOuter, .radioouter{
	position:relative;
	margin: 5px 0 15px;
	}
.radioouter{margin: 15px 0 15px;}

.checkBox, .radio-btn{
	position:absolute;
	left:12px;
	top:1px;
	display:block;
	cursor:pointer;
	width:19px;
	height:19px;
	background-position:0 0;
	}	
.checkBox.checked{background-position:-20px 0;}

.radio-btn{
	width:21px;
	height:21px;
	background-position:-62px 0px;
	}
.radio-btn.checked{ background-position:-84px 0px;}
.checkBoxText{
	color:#222222;
	font-size:14px;
	padding-left:25px;
	}
.radioouter .checkBoxText{ line-height:24px; padding-left:35px;}
input.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #cccccc;
}
input.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #cccccc;
}
input.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #cccccc;
}
input.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #cccccc;
}
.Divider{
	margin-right:10px;
	margin-left:10px;
	height:1px;
	background:#dedde0;
	}
.Divider.marginTop{ margin-top:17px;}
.bold_btn{
	color:#f27d16;
	font-size:16px;
	margin-bottom:10px;
	display:inline-block
	}
.bold_btn:hover{ color:#f27d16; text-decoration:underline}
.approval-div h3{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;
	color:#222222;
	font-weight:bold;
	margin-bottom: 25px;
	margin-top: 0;
	}
.approval-div p{
	font-size:14px;
	color:#222222;
	}
	
/* welcome-temping */
.welcome-temping-wrap{
	padding:60px 0 48px;
	background:#adcad8;
	}
.welcome-temping{
	text-align:center;
	}	
.welcome-temping > h1{
	color:#FFF;
	font-size:17px;
	text-transform:uppercase;
	margin:0 0 18px 0;
	}
.welcome-temping > p{
	color:#FFF;
	font-size:15px;
	margin:0 0 16px 0;
	}
.cross_btn{
	position:absolute;
	top:0;
	right:30px;
	width:17px;
	height:17px;
	background-position:-40px -1px;
	}
.cross_btn:hover{ opacity:.8;}	
span.underline{ text-decoration:underline;}
.steps-wrap{
	margin:25px 0 0;
	width:100%;
	display:inline-block;
	text-align:center;
	}
.steps-wrap li{
	display:inline-block;
	width:110px;
	margin:0 40px;
	}
.icons{
	width:110px;
	height:110px;
	margin-bottom:20px;
	background:url(../images/icons.png) no-repeat 0 0;
	}
.icons.step1{ background-position: 0 0}
.icons.step2{ background-position: 0 -110px}
.icons.step3{ background-position: 0 -220px}
.icons.step4{ background-position: 0 -330px}
.steps-wrap li h5{
	color:#105673;
	text-transform:uppercase;
	font-size:15px;
	margin-bottom:20px;
	}
.steps-wrap li p{
	color:#fff;
	font-size:15px;
	margin:0;
	}
.file-input-wrapper{
	overflow:hidden;
	position:relative;
	cursor:pointer;
	z-index:1;
	}
.file-input-wrapper{
	width:150px;
	height:34px;
	line-height:30px;
	background:#cccccc;
	color:#666666;
	font-size:16px;
	float:left;
	}
.file-input-wrapper span{
	display:block;
	line-height:18px;
	}
.file-input-wrapper input[type=file]{
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 99;
	outline: 0;	
	}
.link-btn{
	float:left;
	margin:11px 0 0 20px;
	color:#f27d16;
	font-size:14px;
	text-decoration:underline;
	}
.link-btn:hover{color:#f27d16; text-decoration:none;}
.twoInputs div:not(.slash){ width:28.7%;}
.dropdown-btn{
	width:166px;
	text-align:left;
	padding: 11px 12px;
	position:relative;
	}
.dropdown-wrap{
	position:relative;
	display:inline;
	float:left;
	}
.dropdown-wrap .dropdown-menu{
	top:44px;
	}
.dropdown-btn span{
	position: absolute;
	right: 13px;
	top: 18px;
	border-top: 7px solid #666666;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	}
.search-wrap{
	margin-left:20px;
	float:left;
	width:102px;
	height:42px;
	background:#999;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#cccccc;
	}
.search-wrap span{
	margin: 10px auto 0;
	display:block;
	width:23px;
	height:23px;
	background-position: -108px 0px}
.map-content-area{
	padding-left:40px;
	}
.right-map{
	position:relative;
	width:432px;
	height:439px;
	background:#999;
	overflow:hidden;
	}
.map-left-content{
	width:270px;
	}
.Edit{
	position:absolute;
	right:0;
	top:0;
	margin:0;
	}
.teacher-preference-form .checkBoxOuter{
	margin: 5px 0 5px;
	}
.teacher-preference-form .checkBoxOuter.last-child{ margin-bottom:30px;}
.teacher-preference-form h1{padding: 0px 0 20px;}

/* teacher-landing */
.teacher-landing{
	width:1030px;
	border: 1px solid #e6e6e6;
	background: #FFF;
	margin-bottom: 30px;
	}
.teacher-landing .right-map{
	width:726px;
	height:502px;
	}
.teacher-landing .map-left-content{ width:255px;}
.teacher-landing .right-content-inner{ padding:29px 40px 0}
.teacher-landing .dropdown-btn,
.teacher-landing .dropdown-menu{ width:180px}
.create-account{
	font-size:16px;
	background:#f27d16;
	display:block;
	width:224px;
	height:56px;
	text-align:center;
	line-height:56px;
	color:#FFF;
	text-decoration:none;
	}
.map-overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.6)
	}
.map-overlay-content{
	margin:55px auto 0;
	width:535px;
	background:#FFF;
	}
.map-content-header{
	padding:20px 38px;
	background:#f5f5f5;
	border-bottom:1px solid #e8e8e8;
	}
.school-tag{
	margin-right:20px;
	float:left;
	width:80px;
	height:80px;
	border:1px solid #e8e8e8;
	}
.school-title h3{
	margin:0;
	color:#f27d16;
	font-size:20px;
	line-height:20px;
	margin-bottom: 17px;
	}
.school-title p{
	font-size:14px;
	line-height:16px;
	color:#222222;
	}
.school-title p span.title{
	font-size:16px;
	}
.school-information{
	padding:20px 38px;
	margin:0;
	overflow:hidden;
	}
.school-information li {
	float:left;
	width:100%;
	margin-bottom:14px;
	list-style:none;
	}
.school-information li div{
	float:left;
	}
.school-information li div:first-child{
	width:100px;
	}
.school-information li div a{
	color:#f27d16;
	text-decoration:underline;
	}
.map-content-footer{
	padding:30px 38px;
	background:#858585;
	}
.map-content-footer a{
	display:block;
	width:186px;
	height:52px;
	line-height:52px;
	text-align:center;
	text-decoration:none;
	color:#FFF;
	background:#f27d16;
	font-size:16px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	}
.teacher-profile{
	padding:20px 38px;
	border:1px solid #e6e6e6;
	background:#fff;
	margin-bottom:30px;
	}
.profile-pic{
	width:120px;
	height:120px;
	background:#cccccc;
	}
.tech-basic-detail{
	width:50%;
	margin-left:20px;
	}	
.detail-list{
	margin:0;
	padding:0;
	}
.detail-list li h3{
	color:#222222;
	font-size:26px;
	line-height:26px;
	margin:0 0 5px;
	}
.detail-list li{
	float:left;
	width:100%;
	margin-bottom:3px;
	color:#666666;
	font-size:14px;
	list-style:none;
	}
.detail-list li.add-margin-bottom{ margin-bottom:25px;}
.detail-list li span{
	color:#222222;
	font-size:16px;
	}
.profile-btns *{
	text-align:center;
	font-size:16px;
	display:block;
	width:185px;
	height:55px;
	line-height:55px;
	color:#FFF;
	background:#f27d16;
	margin-bottom:10px;
	}
.profile-btns a:hover{
	text-decoration:underline;
	color:#FFF;
	}
.disabled-link{
	background:#cccccc;
	color:#666666;
	cursor:default;
	}
.profile-btns a.disabled-link:hover{ text-decoration:none; color:#666666;}

.left-section h1, .Qua-detail2 h1{
	font-size:18px;
	color:#222222;
	line-height:20px;
	margin:0;
	margin-bottom:20px;
	}
.left-section{width:480px;}	
.Qua-detail{
	width:100%;
	}
.Qua-detail-list{
	width:100%;
	margin:0;
	padding:0;
	display:table;
	}
.Qua-detail-list li{ 
	float:left;
	width:100%;
	margin-bottom:5px;
	color:#222222;
	list-style:none;
	}
.Qua-detail-list li div{
	font-size:14px;
	}
.Qua-detail-list li div:first-child{ 
	width:310px;
	float:left;
	}
.Qua-detail-list li div:last-child{ 
	float:right;
	width:170px;
	text-align:left;
	}
.Qua-detail-list li.add-margin-bottom{ margin-bottom:24px;}
.Qua-detail-list{
	padding-bottom:20px;
	}
.Qua-detail .divider, .Qua-detail2 .divider{
	width:100%;
	height:1px;
	background:#dedde0;
	margin-bottom:25px;
	}
.left-section .textarea.textarea{
	height:90px;
	margin-top:20px;
	}
.Qua-detail h3, .Qua-detail2 h3, .Qua-detail2 h4{
	font-size:16px;
	color: #222222;
	line-height: 20px;
	margin: 0;
	margin-bottom: 20px;
	}
.Qua-detail2 h3{ font-size:18px;}

.Qua-detail2{ width:395px;}
.Qua-detail2 .Qua-detail-list li div:first-child{ width:225px;}
.Qua-detail2 .Qua-detail-list li div:last-child{ width:160px;}
.show-btn{
	font-size:16px;
	color:#f27d16;
	}
.show-btn.not-file{ color:#cccccc; cursor:default;}
/*.show-btn:hover{ color:#f27d16; text-decoration:underline;}*/
.Qua-detail-list li ul{ margin-top:10px; float:left;}
.Qua-detail-list li ul li div:first-child{ width:190px !important;}

/* booking-form */
.booking-form{
	width:1028px;
	border:1px solid #e6e6e6;
	background:#FFF;
	}
.strip-wrap{ 
	width:100%;
	padding:0;
	margin:0;
	}
.strip-wrap li{
	position:relative;
	float:left;
	width:100%;
	list-style:none;
	border-bottom:1px solid #dedde0;
	}
.strip-wrap li:first-child{ background:#666666}
.strip-wrap li:first-child > div{ color:#FFF;}
.strip-wrap li:first-child > div{ font-size:16px;}
.strip-wrap li:first-child > div.Rating{padding:13px 28px; }
.strip-wrap li > div{ 
	position:relative;
	font-size:14px;
	padding:13px 28px; 
	float:left; 
	/*min-height:20px; */
	/*border-right:1px solid #a1a0a3*/
	}
.relative-div{ position:relative;}	
.relative-div .radio-btn{ left:0}
.Work-there .relative-div:first-child{ margin-right:10px;}
.strip-wrap li:first-child > div:after{
	content:'';
	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:1px; 
	background:rgba(200,199,204,.6);
	}
.strip-wrap li:first-child > div:last-child:after{ display:none}
.plus-div{
	width:30px;
	min-height:60px;
	}
.Date{
	width:140px;
	}
.School{width:380px;}
.Work-there{width:146px;}
.Rating{width:130px;}
.Feedback{width:150px;}
.Feedback-from-school{width:225px;}
.Comments{width:226px;}
.Feedback .view-feedback{ margin-bottom:7px;}
.strip-wrap li > div.Comments{ border:none;}
.plus-sign{
	position:absolute;
	left:50%;
	top:25px;
	margin:-4px 0 0 -4px;
	width:8px;
	height:8px;
	background-position:-138px 0px}
.add-btn{
	color:#f27d16;
	font-size:16px;
	}
.view-feedback{
	padding-left:32px;
	color:#f27d16;
	background-position:-278px 0;
	line-height:23px;
	display:block;
	}
.view-feedback:hover, .add-btn:hover{color:#f27d16;}
.strip-wrap li > div.Rating{ padding:10px 28px;}
.strip-wrap li > div.Rating p{
	line-height:30px;
	margin:0;
	padding:0;
	}
.Rating input{ 
	margin-right:5px; 
	float:left; 
	width:40px; 
	height:30px; 
	text-align:center;
	border:1px solid #cccccc
	}
.Overlay{
	position:absolute;
	left:0;
	top:0;
	z-index:9999;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.6)}
.popup-form-wrap{
	margin-top:147px;
	}
.popup-form{
	width:767px;
	background:#FFF;
	margin-bottom:30px;
	}
.popup-form-inner{	padding: 30px 40px;}
.popup-form-inner h1{
	font-size:16px;
	line-height:18px;
	margin:0;
	padding:0;
	margin-bottom:20px;
	color:#222222;
	}

.popup-form .reference-form textarea.form-control{ margin:0; background:#f9f9fa;}
.popup-form .twoInputs div:not(.slash){width: 32.4%;}
.strip-wrap li > div.border_div{
	position:absolute;
	left:139px;
	top:0px;
	padding:0;
	width:1px !important;
	height:100% !important;
	background:rgba(200,199,204,.6);
	}
.strip-wrap li > div.border_div.two{ left:519px;}
.strip-wrap li > div.border_div.three{ left:649px;}
.strip-wrap li > div.border_div.four{ left:798px;}
.special-edu-performance{
	width:365px;
	margin:152px auto 0;
	background:#FFF;
	}

.special-edu-performance .checkBoxOuter{ margin:5px 0 0}
.edu-form p{
	font-size:14px;
	color:#222222;
	margin:20px 0 5px;
	}
.edu-form .add-margin-bottom{ margin-bottom:20px;}
.edu-form .reference-form{ margin-bottom:0px;}
.edu-form .reference-form .form-group{ margin-bottom:6px;}
.margin-top{ margin-top:20px;}
.inputs-wrap{
	width:684px;
	height:266px;
	overflow:auto;
	margin-bottom:15px;
	background:#f9f9fa;
	border:1px solid #cccccc;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	}
.inputs-left-list{
	width:320px;
	margin:10px 0 10px 20px;
	}
.inputs-left-list.right-div	{ width:290px;}
.inputs-left-list .checkBox{ left:0;}
.inputs-left-list .checkBoxOuter{margin: 5px 0 10px;}
.popup-form-inner p{
	font-size:14px;
	color:#222222;
	}
.keepMe .checkBoxOuter{
	margin:5px 0 0;
	}
.keepMe .checkBox, .check-it .checkbox .checkBox{
	left:0
	}
.keepMe .checkBoxText, .check-it .checkbox .checkBoxText{
	padding-left:15px
	}

input[type=text]::-ms-clear {
    display: none;
}
a:active, a:focus{ outline:none;} 

	
/* footer */	
.footer-wrap{
	position:relative;
	z-index:1000;
	width:100%;
	display:table;
	padding:50px 0;
	background:#cccccc
	}
.footer h4{
	font-size:12px;
	}	
.footer p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	}	
.mob-btn{
	position:absolute;
	top:15px;
	right:15px;
	width:40px;
	display:none;
	padding:6px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	background:#cccccc;
	border:1px solid #bbbbbb
}	
.mob-btn span{
	float:left;
	width:28px;
	height:3px;
	background:#FFF;
	margin:2px 0;
	}	



.create-account, .map-content-footer a, .save-cancel-box a,
.profile-btns *, .creatbtn, .inputfiles a, .inputfiles input{
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.container2{ margin:0 auto; position:relative;}
@media (min-width: 767px){.Menu{display:block !important;}}
@media (min-width: 992px){
	.container2{ width:970px; padding:0 15px; }
	.how-work{padding: 35px;}
	}	

@media (min-width: 1200px){
	.container2{ width:1030px;  padding:0;}
	.how-work{padding: 35px;}
	}
@media (max-width: 993px){
	.container2{ width:750px;}
	.Menulist li{margin: 0 14px;}
	.Menulist li a{ font-size:16px;}
	.landing-banner h1{font-size: 44px; line-height: 48px; margin: 140px 0 10px;}
	.landing-banner p{font-size: 30px;line-height: 30px;}
	.landing-bg{background-size: 1000px;height: 585px;}
	}	
@media (max-width: 768px){
	.container2{ width:540px;}
	.nav-wrap{ height:72px;}
	.inputfiles input{ width:330px}
	.landing-banner h1{font-size: 32px; line-height: 28px; margin: 136px 0 10px;}
	.landing-banner p{font-size: 25px;line-height: 30px;}
	.landing-bg{background-size: 850px;height: 496px;}
	.mob-btn{ display:block;}
	.Menu{ position:absolute; right:15px; top:48px; width:220px; background:#cccccc; padding:20px; border:1px solid #bbbbbb; display:none}
	.Menulist li{margin: 5px 12px; width:100%;}
	.Menulist li a{ font-size:14px; height:36px; display:inline-block;}
	.how-work{ height:300px; padding:15px !important;}
	}	
@media (max-width: 580px){
	.container2{ width:100%; padding:0 15px;}
	.nav-wrap{ height:72px;}
	.inputfiles{margin: 25px 0 0 3px; }
	.inputfiles, .inputfiles input{ width:100%}
	.inputfiles input{ width:100%; height:50px; font-size:15px;}
	.landing-banner h1{font-size: 23px;line-height: 20px; margin: 50px 0 10px;}
	.landing-banner p{font-size: 16px;line-height: 18px;}
	.landing-bg{background-size:730px; height: 425px;}
	.logo{ width:215px;}
	.logo img{ width:100%;}
	.inputfiles a, .inputfiles a.btn2{ margin:6px 0 0; width:100%; height:50px; line-height:50px;}
	}	

	
	
	











	
	
	
	
	
	
	